mixin inputField(typeField="text", labelText = "", labelattr={})
    if (labelText != "")
        label.label&attributes(labelattr) #[span #{labelText}]
            input.input(type=typeField)&attributes(attributes)
    else
        input.input(id=id type=typeField)&attributes(attributes)

mixin textarea(labelText="", labelattr={})
    if (labelText != "")
        label.label&attributes(labelattr) #[span #{labelText}]
            textarea.textarea(cols="30", rows="10" placeholder="Введите сообщение")&attributes(attributes)
                if (block)
                    block
    else
        textarea.textarea(cols="30", rows="10" placeholder="Введите сообщение")&attributes(attributes)
            if (block)
                block