extends ../../layouts/ui-layout/ui-layout.pug

block variables
    - const titlePage = 'Кнопки - UI-kit и HTML фреймворк - Документация';
    - const pageClass = 'body--dashboard';

block content
    .main-wrapper
        .container.container--left.user-content.pt-35
            h1 Кнопки

            .section-ui
                .row
                    .col-3
                        .title Стандартные кнопки
                        .section-ui
                            +button('Подробнее', 'primary', 'default', 'button')
                        .section-ui
                            +button('Редактировать', 'edit', 'default', 'button')
                        .section-ui
                            +button('Удалить', 'delete', 'default', 'button')
                        .section-ui
                            +button('Сохранить', 'save', 'default', 'button')
                        .section-ui
                            +button('Войти', 'secondary', 'default', 'button')
                        .section-ui
                            +button('Профиль', 'profile', 'default', 'button')
                    .col-3
                        .title Кнопки с иконками
                        .section-ui
                            +buttonWithIcon('Вперед', 'primary', 'button', '', 'default', {iconPosition: 'right', iconClass: 'fas fa-arrow-right'})
                        .section-ui
                            +buttonWithIcon('Редактировать', 'edit', 'button', '', 'default', {iconPosition: 'right', iconClass: 'far fa-edit'})
                        .section-ui
                            +buttonWithIcon('Удалить', 'delete', 'button', '', 'default', {iconPosition: 'right', iconClass: 'fas fa-trash-alt'})
                        .section-ui
                            +buttonWithIcon('Сохранить', 'save', 'button', '', 'default', {iconPosition: 'right', iconClass: 'far fa-save'})
                        .section-ui
                            +buttonWithIcon('Войти', 'secondary', 'button', '', 'default', {iconPosition: 'right', iconClass: 'fas fa-sign-in-alt'})
                        .section-ui
                            +buttonWithIcon('Профиль', 'profile', 'button', '', 'default', {iconPosition: 'right', iconClass: 'far fa-user'})
                    .col-3
                        .title Малые кнопки
                        .section-ui
                            +button('Подробнее', 'primary', 'small', 'button')
                        .section-ui
                            +button('Редактировать', 'edit', 'small', 'button')
                        .section-ui
                            +button('Удалить', 'delete', 'small', 'button')
                        .section-ui
                            +button('Сохранить', 'save', 'small', 'button')
                        .section-ui
                            +button('Войти', 'secondary', 'small', 'button')
                        .section-ui
                            +button('Профиль', 'profile', 'default', 'button')
                    .col-3
                        .title Кнопки с иконками
                        .section-ui
                            +buttonWithIcon('Вперед', 'primary', 'button', '', 'small', {iconPosition: 'right', iconClass: 'fas fa-arrow-right'})
                        .section-ui
                            +buttonWithIcon('Редактировать', 'edit', 'button', '', 'small', {iconPosition: 'right', iconClass: 'far fa-edit'})
                        .section-ui
                            +buttonWithIcon('Удалить', 'delete', 'button', '', 'small', {iconPosition: 'right', iconClass: 'fas fa-trash-alt'})
                        .section-ui
                            +buttonWithIcon('Сохранить', 'save', 'button', '', 'small', {iconPosition: 'right', iconClass: 'far fa-save'})
                        .section-ui
                            +buttonWithIcon('Войти', 'secondary', 'button', '', 'small', {iconPosition: 'right', iconClass: 'fas fa-sign-in-alt'})
                        .section-ui
                            +buttonWithIcon('Профиль', 'profile', 'button', '', 'small', {iconPosition: 'right', iconClass: 'far fa-user'})
            pre.
                +button('Подробнее', 'primary', 'default', 'button')
                +buttonWithIcon('Вперед', 'primary', 'button', '', 'default', {iconPosition: 'right', iconClass: 'fas fa-arrow-right'})
                +button('Подробнее', 'primary', 'small', 'link', '#!')
                +buttonWithIcon('Удалить', 'delete', 'button', '', 'small', {iconPosition: 'right', iconClass: 'fas fa-trash-alt'})
                +buttonWithIcon('Редактировать', 'edit', 'link', '#!', 'default', {iconPosition: 'right', iconClass: 'far fa-edit'})
            
            .title mixins/_buttons.pug
            pre.
                mixin button(text, type='primary', size='default', element='link', source='#!')
                    if (element == 'button')
                        if (size == 'small')
                            button.button(class=`button--small button--${type}`)&attributes(attributes) \#{text}
                        else
                            button.button(class=`button--${type}`)&attributes(attributes) \#{text}
                    else
                        if (size == 'small')
                            a.button(class=`button--small button--${type}` href=source)&attributes(attributes) \#{text}
                        else
                            a.button(class=`button--${type}` href=source)&attributes(attributes) \#{text}
            pre.
                mixin buttonWithIcon(text, type='primary', element='link', source='#!', size='default', ...iconSet)
                    if (element == 'button')
                        for set in iconSet
                            if (size == 'small')
                                button.button(class=`button--small button--${type}`)&attributes(attributes) \#[span.button__icon(class=`button__icon--position-${set.iconPosition} button__icon--small`) \#[i(class=set.iconClass)]] \#[span \#{text}]
                            else
                                if (type == 'profile')
                                    button.button(class=`button--${type}`)&attributes(attributes) \#[span.button__icon(class=`button__icon--position-${set.iconPosition} button__icon--small`) \#[i(class=set.iconClass)]] \#[span \#{text}]
                                else
                                    button.button(class=`button--${type}`)&attributes(attributes) \#[span.button__icon(class=`button__icon--position-${set.iconPosition}`) \#[i(class=set.iconClass)]] \#[span \#{text}]
                    else
                        for set in iconSet
                            if (size == 'small')
                                a.button(class=`button--small button--${type}` href=source)&attributes(attributes) \#[span.button__icon(class=`button__icon--position-${set.iconPosition} button__icon--small`) \#[i(class=set.iconClass)]] \#[span \#{text}]
                            else
                                if (type == 'profile')
                                    a.button(class=`button--${type}` href=source)&attributes(attributes) \#[span.button__icon(class=`button__icon--position-${set.iconPosition} button__icon--small`) \#[i(class=set.iconClass)]] \#[span \#{text}]
                                else
                                    a.button(class=`button--${type}` href=source)&attributes(attributes) \#[span.button__icon(class=`button__icon--position-${set.iconPosition}`) \#[i(class=set.iconClass)]] \#[span \#{text}]